<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Portafolios</title>
  </head>
  <body>
    <!--Aqui veremos la parte superior de la pagina como su nombre lo indica-->
    <header class="head">
      <div>
        <span class="title">S3BA5T1AN</span>
      </div>
    </header>

    <!--En este sector estaremos en el navegador donde tendremos los link de cada parte de nuestra web-->
    <nav class="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html">
          <img src="../img/icons/airplane.png" alt="12px" />
          Bibliografía
        </a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="education.html">
          <img src="../img/icons/application-brackets.png" alt="12px" />
          Educacional
        </a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="experience.html">
          <img src="../img/icons/desk-lamp-on.png" alt="12px" />
          Experiencia
        </a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="service.html">
          <img src="../img/icons/cart.png" alt="12px" />
          Servicio
        </a>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="blog.html">
          <img src="../img/icons/brain.png" alt="12px" />
          Blog
        </a>
      </div>
    </nav>




    <main>
        <section>
        <div class="container">
            <div class="row row-cols-4">
              <div class="col">
                <div class="card">
                    <img src="../img/project1.jpg">
                    <div class="card-body">
                      <h5 class="card-title">Programación</h5>
                      <p class="card-text">Servicios de análisis de sistemas con Javascript, Java, C# y PHP.</p>
                      <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <img src="../img/project2.jpg">
                    <div class="card-body">
                      <h5 class="card-title">Programación</h5>
                      <p class="card-text">Servicios de análisis de sistemas con Javascript, Java, C# y PHP.</p>
                      <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <img src="../img/project3.jpg">
                    <div class="card-body">
                      <h5 class="card-title">Programación</h5>
                      <p class="card-text">Servicios de análisis de sistemas con Javascript, Java, C# y PHP.</p>
                      <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                    <img src="../img/project4.jpg">
                    <div class="card-body">
                      <h5 class="card-title">Programación</h5>
                      <p class="card-text">Servicios de análisis de sistemas con Javascript, Java, C# y PHP.</p>
                      <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>


    <!--Dentro del main tambien tendremos el aside que se refiere a informacion del mismo tema
    pero es contenido indirectamente relacionado por ende podemos colocar el whatsapp o links de nosotros-->
    <aside>
        <nav>
          <div class="container-fluid">
            <a class="navbar-brand" target="_blank" href="https://api.whatsapp.com/send?phone=56952139355">
              <img src="../img/icons/whatsapp.png" alt="12px" ">
            </a>
        </nav>
      </aside>
    </section>
  </main>
  </body>
</html>
